
<!--<nav  class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav" style="float:right">
        <li class = "nav-item"><a routerLink="user-list" routerLinkActive="active" class="nav-link">Users</a></li>
        <li class = "nav-item"><button class="btn btn-outline-success" (click)="logout()">Logout</button></li>

    </ul>
</nav>-->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
    <a  style="float: left;" >Admin</a>
  <a class="active" (click)="logout()" style="cursor: pointer; float: right;">Log Out</a>
  <a  routerLink="user-list" routerLinkActive="active" class="nav-link" style="float: right;">Users</a>
  <a  routerLink="Commission-rules" routerLinkActive="active" class="nav-link" style="float: right;">Commission Rules</a>
  <a  routerLink="Sales" routerLinkActive="active" class="nav-link" style="float: right;">Sales</a>
</div>

</body>
</html>
