
nav{
    background-color: #ACE1AF;
    padding: 20px 20px ;
    
}*/
ul{
    float: right;
    list-style-type:none ;
   
}
/*ul li{
    display: inline-block;
    align-items:center ;
    
}
li a{
    color:#fff;
    text-decoration: none;
    cursor:pointer;

}*/